<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Page</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            min-width: 300px; /* 设置最小宽度 */
        }
    </style>
</head>
<body>
    <script src="script.js"></script>
    <div class="card">
        <h1>输入目录</h1>
        <input type="text" id="Input Directory" placeholder="处理的C代码文件目录">
        <button onclick="getfolderpath()"><i class="fas fa-folder-open"></i> 选择</button>
    </div>
    <div class="card">
        <h1>输出目录</h1>
        <input type="text" id="Output Directory" placeholder="结果存放目录">
        <button onclick="getfolderpath_output()"><i class="fas fa-folder-open"></i> 选择</button>
    </div>
    <div class="card">
        <h1>Linux Kernel 目录</h1>
        <input type="text" id="Linux Directory" placeholder="Linux Kernel目录">
        <button onclick="getfolderpath_Linux()"><i class="fas fa-folder-open"></i> 选择</button>
    </div>
    <div class="card">
        <h1>Bindgen目录</h1>
        <input type="text" id="Bindgen Directory" placeholder="bindgen_ramfs 目录">
        <button onclick="getfolderpath_Bindgen()"><i class="fas fa-folder-open"></i> 选择</button>
    </div>

    <div class="card">
        <h1>选择模型</h1>
        <select name="LLMs" id="LLMs-select">
          <option value="">--请选择使用大模型--</option>
          <option value="gpt">gpt</option>
          <option value="DeepSeek-R1">DeepSeek-R1</option>
          <option value="DeepSeek-V3">DeepSeek-V3</option>
          <option value="zhipu">质谱清言</option>
        </select>
    </div>

    <div class="card_run">
        <h1>运行确认</h1>
        <button class="run-button" onclick="run()">开始执行</button>
        <h2>输出结果</h1>
        <div class="output-box" id="runresult"></div>
    </div>

</body>
</html>