h1 {
    font-family: 'KaiTi', 'STKaiti', 'SimKai', serif; /* 使用行楷字体 */
    color: black; /* 设置文字颜色为黑色 */
    font-weight: bold;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: var(--vscode-editor-background);
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box; /* 包含 padding 和 border 在内的宽度计算 */
}

.card_run {
    background: hsl(0, 0%, 99%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box; /* 包含 padding 和 border 在内的宽度计算 */
}

.output-box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    height: 200px; /* 设置固定的高度 */
    overflow-y: auto; /* 允许垂直滚动 */
    font-family: monospace; /* 使用等宽字体，适合输出内容 */
    white-space: pre-wrap; /* 保留空白符和换行 */
    word-wrap: break-word; /* 允许长单词换行 */
}

#runresult {
    color: black; /* 设置文字颜色为黑色 */
    font-family: monospace; /* 使用等宽字体 */
    white-space: nowrap; /* 保留空白符和换行 */
    word-wrap: break-word; /* 允许长单词换行 */
    overflow-x: auto; /* 显示横向滚动条 */
}

.button {
    padding: 10px 20px;
    background: linear-gradient(135deg, #6e8efb, #4a6cf7);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.button:hover {
    background: linear-gradient(135deg, #4a6cf7, #6e8efb);
    transform: translateY(-2px);
}

.run-button {
    background: linear-gradient(135deg, #4CAF50, #45a049);
}

.run-button:hover {
    background: linear-gradient(135deg, #45a049, #4CAF50);
}

@media (max-width: 768px) {
    .button {
        padding: 8px 16px;
    }
} 